.startdiv{
display: flex;
}

#startleft{
display: flex;
flex-direction: column;
margin-top: 18rem;
margin-left: 10rem;
margin-right: 5rem;
}

#span2{
font-weight: 900;
font-size: 4.3rem;
line-height: 6.1rem;
color: #363742;
}

#span3{
margin-top: 1.8rem;
font-weight: normal;
font-size: 2.1rem;
line-height: 3rem;
color: #474852;
}

.start{
width: 19.8rem;
height: 5.4rem;
margin-top: 4rem;

background: #FF1B47;
border-radius: 3rem;
border-style: none;

font-weight: 700;
font-size: 2rem;
line-height: 2.4rem;

color: #FFFFFF;
}

.cmp{
width: 68.8rem;
height: 46.1rem;
margin-left: 5rem;
margin-right: 5rem;
margin-top: 10rem;
}

#org{
display: flex;
flex-direction: column;
align-items: center;
margin-top: -3rem;
}

#span4{
width: 32.7rem;
height: 2.7rem;   

font-weight: 700;
font-size: 2.1rem;
line-height: 27rem;

color: #FF1B47;
}

.orgs{
width: 112.4rem;
height: 7.8rem;
margin-top: 15rem;
}

@media (min-width: 900px) {
#startleft{
width: 59rem;
}}

@media (min-width: 2000px){
#startleft{
margin-left: 50rem;
}}

@media (max-width: 800px){
.startdiv{
align-items: center;
}
#startleft{
align-items: center;
margin-top: 15rem;
}
.cmp{
width: 30rem;
height: 20rem;
margin-top: 8rem;
margin-left: 5rem;
margin-right: 10rem;
}}

@media (max-width: 600px){
.startdiv{
align-items: center;
}
#startleft{
align-items: center;
margin-top: 5rem;
}
.cmp{
width: 30rem;
height: 20rem;
margin-top: 0px;
margin-left: 2rem;
margin-right: 2rem;
}
.start{
width: 20.8rem;
height: 5.4rem;
}
.orgs{
width: 80rem;
height: 6rem;
}
}
@media (max-width: 450px){
.startdiv{
margin-top: 5rem;
}
#startleft{
margin-left: 5rem;
}
.cmp{
width: 30rem;
height: 20rem;
margin-top: 0px;
margin-left: 2rem;
margin-right: 2rem;
}
.start{
width: 20.8rem;
height: 5.4rem;
}
.orgs{
width: 70rem;
height: 5rem;
}}

@media (max-width: 380px){
.cmp{
margin-left: 0rem;
}
}