#languagesdiv{
margin-top: 10rem;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

#span8{
width: 37.3rem;
height: 4.2rem;

font-weight: bold;
font-size: 3.3rem;
line-height: 130.9%;
color: #363742;
}

#span9{
margin-top: 2rem;
margin-left: 2rem;
margin-right: 2rem;
font-weight: normal;
font-size: 2.1rem;
line-height: 130.9%;
color: #474852;
}

.langs{
display: flex;
align-items: center;
}

.langdiv{
margin-top: 5rem;
display: flex;
flex-direction: column;
align-items: center;
}

.flag{
width: 19rem;
height: 11.6rem;
}

#english, #german, #french, #italian{
margin-left: 7rem;
}

.lang{
font-weight: 600;
font-size: 2.1rem;
line-height: 130.9%;
color: #363742;
margin-top: 2rem;
}

.all{
width: 28.5rem;
height: 5.4rem;
margin-top:7rem;

background: #FFE0E2;
border-radius: 3rem;
border-style: none;

font-weight: 700;
font-size: 2rem;
line-height: 2.4rem;
color: #FF1B47;
} 

@media (max-width: 800px){
.langs{
flex-wrap: wrap;
justify-content: center;     
}
.langdiv{
flex-basis: 34%;
}
#english, #german, #french, #italian{
margin-left: 0px;
}
}
