#bardiv{
display: flex;
justify-content: space-evenly;
}

#logo{
display: flex;
margin-top:4.7rem; 
}

.logoimg{
height: 6.3rem;
width: 6.3rem;
}

#span1{
width: 8.5rem;
height: 3rem;
margin-left: 1.5rem;
margin-top: 2rem;

font-family: 'Roboto';
font-weight: bolder;
font-size: 2.4rem;
line-height: 2.8rem;
color: #FF1B47;
}

.arrow{
width: 1.5rem;
height: 0.9rem;
margin-top: 1rem;
margin-left: 0.8rem;
}

.navbar{
display: flex;
}

.opts ul{
margin-top: 6.9rem;
display: flex;
}

.opts li{
list-style: none;
}

.opts li a{
text-decoration: none;
font-weight: normal;
font-size: 2rem;
line-height: 2.4rem;
color: #00264F;
display: block;
}  

.checkbtn{
font-size: 4rem;
color: #363742;
margin-left: 4rem;
margin-right: 3rem;
margin-top: 3.8rem;
line-height: 8rem;
cursor: pointer;
display: none;
}

#check{
display: none;
}

.arrow, #enterprice, #pricing{
margin-right: 5rem;
}

#startbtn{
display: flex;
}

.login{
width: 16rem;
height: 5.4rem;
margin-top: 5.1rem;

background: #FFE0E2;
border-radius: 3rem;
border-style: none;

font-weight: 700;
font-size: 2rem;
line-height: 2.4rem;
color: #FF1B47;
}

.getStarted{
width: 23.2rem;
height: 5.4rem;
margin-left: 3rem;
margin-top: 5.1rem;

background: #FF1B47;
border-radius: 3rem;
border-style: none;

font-weight: 700;
font-size: 2rem;
line-height: 2.4rem;
color: #FFFFFF;
}

@media (min-width: 1000px){
.login{
margin-left: 27rem;
}
}
@media (min-width: 2000px){
.login{
margin-left: 100rem;
}}
@media (max-width: 800px){
.logo{
margin-left: 4rem;
}
.opts{
margin-left: 2rem;
}
.login{
width: 18rem;
height: 5.4rem;
margin-left: 8.5rem;
}
.getStarted{
width: 18rem;
height: 5.4rem;
}
}


@media (max-width: 600px){
#bardiv{
justify-content: flex-start;
}
.login{
width: 18rem;
height: 5.4rem;
margin-left: 10rem;
}
.getStarted{
width: 18rem;
height: 5.4rem;
margin-left: 2rem;
}
.checkbtn{
display: block;
}
.opts ul{
order: 1;
margin-top: 6rem;
display: none;
flex-direction: column;
}
nav ul li{
padding-bottom: 2rem;
margin-left: -10rem;
}
.opts li a{
font-weight: 700;
font-size: 2.4rem;
line-height: 2.4rem;
}

#check:checked ~ .opts ul{
display: flex;
}
#check:checked ~ #logo {
order: 2;
margin-left: 33rem;
}
#check:checked ~ #startbtn {
display: none;
}
}


@media (max-width: 400px){
.login{
margin-left: 6rem;
}
.getStarted{
margin-left: 2rem;
}
#check:checked ~ #logo {
margin-left: 30rem;
}
}
@media (max-width: 350px){
.login{
margin-left: 3rem;
}
.getStarted{
margin-left: 2rem;
}
#check:checked ~ #logo {
margin-left: 25rem;
}
}
