.servicesdiv{
margin-top: 12rem;
display: flex;
flex-direction: column;
align-items: center;
}

#span5{
width: 21.2rem;
height: 4.2rem;
font-weight: bold;
font-size: 3.2rem;
line-height: 130.9%;
color: #363742;
}

.container3{
display: flex;
}

#rec3{
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 2.5rem;
}

.subtitles{
width: 63.1rem;
height: 25.8rem;
margin-top: 7rem;
}

.box1{
display: flex;
flex-direction: column;
}

.sub{
width: 12.4rem;
height: 3.3rem;
margin-left: 23.7rem;
margin-top: 4.1rem;

font-weight: 700;
font-size: 2.7rem;
line-height: 3.3rem;
color: #000000;
}

#span6{
width: 31rem;
height: 3rem;
margin-left: 22.7rem;
margin-top: 2.1rem;

font-weight: 500;
font-size: 2.2rem;
line-height: 3rem;
color: #474852;
}

#btns3{
margin-top: 5rem;
display: flex;
}

.btn3{
border-radius: 3rem;
border-style: none;

font-weight: 600;
font-size: 2rem;
line-height: 2.4rem;
}

#learn1{  
width: 17.1rem;
height: 5.4rem;
margin-left: 22.7rem;

background: #FFE0E2;
color: #FF1B47;
}

#start1{
width: 17.2rem;
height: 5.4rem;
margin-left: 3rem;

background: #FF1B47;
color: #FFFFFF;
}

.pink{
width: 19.7rem;
height: 25.8rem;
margin-top: -25.8rem;

background: #FFE0E2;
border-radius: 2.5rem;
}

.transcription{
width: 63.1rem;
height: 25.8rem;
margin-left: 5rem;
margin-top: 7rem;
}

.trans{
width: 18.5rem;
height: 3.3rem;
margin-left: 23.7rem;
margin-top: 4.1rem;

font-weight: 700;
font-size: 2.7rem;
line-height: 3.3rem;
color: #000000;
}

#span7{
width: 29.6rem;
height: 3rem;  

font-weight: 500;
font-size: 2.2rem;
line-height: 3rem;

margin-left: 22.7rem;
margin-top: 2.1rem;
color: #474852;
}

#learn2{
width: 17.1rem;
height: 5.4rem;
margin-left: 22.7rem;

background: #CFDAFF;;
color: #3E59E9;
}

#start2{
width: 17.2rem;
height: 5.4rem;
margin-left: 3rem;

background: #3E59E9;
color: #FFFFFF;
}

.blue{
width: 19.7rem;
height: 25.8rem;
margin-left: 5rem;
margin-top: -25.8rem;

background: #CFDAFF;
border-radius: 2.5rem;
}

.subs{
margin-left: 0.5rem;
margin-top: 7.2rem;
width: 19rem;
height: 12rem;
}

.tran{
margin-left: 2rem;
margin-top: 5.2rem;
width: 15.2rem;
height: 15.58rem;
}

@media (max-width: 800px){
.container3{
flex-direction: column;
align-items: center;
}
.transcription, .blue{
margin-left: 0px;
}
}