#span10{
position: absolute;
width: 70.3rem;
height: 4.2rem;
left: 40.8rem;
top: 199.6rem;

font-weight: bold;
font-size: 3.2rem;
line-height: 130.9%;
/* identical to box height, or 42px */


color: #363742;
}

#span11{
position: absolute;
width: 99.7rem;
height: 2.7rem;
left: 26.1rem;
top: 206.9rem;

font-weight: normal;
font-size: 2.1rem;
line-height: 130.9%;
/* or 27px */

color: #474852;
}

.per{
display: flex;
flex-direction: row;
}

.rec5{
position: absolute;
width: 29.5rem;
height: 18.6rem;
top: 215.9rem;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 2.5rem;
}

.rec51{
position: absolute;
width: 29.5rem;
height: 7.5rem;
top: 215.9rem;

border-radius: 2.5rem 2.5rem 0px 0px;
}

#blue{
left: 10.4rem;
}

#b{
position: absolute;
width: 25.4rem;
height: 6.9rem;
margin-left: 2rem;
margin-top: 10rem;

font-weight: normal;
font-size: 1.5rem;
line-height: 155%;
/* or 23px */

text-align: center;

color: #474852;
}

#blue2{
left: 10.4rem;
background: #012169;
}

#b2{
display: inline-block;
margin-top:1.5rem;
margin-left: 11.5rem;

font-weight: bolder;
font-size: 3.5rem;
line-height: 130.9%;
/* identical to box height, or 46px */

color: #FFFEFE;
}

#green{
left: 44.4rem;
}

#g{
position: absolute;
width: 25.4rem;
height: 6.9rem;
margin-left: 2rem;
margin-top: 11rem;

font-weight: normal;
font-size: 1.5rem;
line-height: 155%;

text-align: center;

color: #474852;
}

#green2{
left: 44.4rem;
background: #008241;
}

#g2{
display: inline-block;
margin-top:1.5rem;
margin-left: 11.5rem;

font-weight: bolder;
font-size: 3.5rem;
line-height: 130.9%;
/* identical to box height, or 46px */

color: #FFFEFE;
}

#lblue{
left: 78.4rem;
}

#lb{
position: absolute;
width: 25.4rem;
height: 6.9rem;
margin-left: 2rem;
margin-top: 11rem;

font-weight: normal;
font-size: 1.5rem;
line-height: 155%;
/* or 23px */

text-align: center;

color: #474852;
}

#lblue2{
left: 78.4rem;
background: #0063B3;
}

#lb2{
display: inline-block;
margin-top:1.5rem;
margin-left: 11rem;

font-weight: bolder;
font-size: 3.5rem;
line-height: 130.9%;
/* identical to box height, or 46px */

color: #FFFEFE;
}

#pink{
left: 112.4rem;
}

#p{
position: absolute;
width: 25.4rem;
height: 6.9rem;
margin-left: 2rem;
margin-top: 12rem;

font-weight: normal;
font-size: 1.5rem;
line-height: 155%;
/* or 23px */

text-align: center;

color: #474852;
}

#pink2{
left: 112.4rem;
background: #FF1B47;
}

#p2{
display: inline-block;
margin-top:1.5rem;
margin-left: 11.5rem;

font-weight: bolder;
font-size: 3.5rem;
line-height: 130.9%;
/* identical to box height, or 46px */

color: #FFFEFE;
}