.perdiv{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

#span10{
width: 70.3rem;
height: 4.2rem;
margin-top: 13rem;

font-weight: bold;
font-size: 3.2rem;
line-height: 130.9%;
color: #363742;
}

#span11{
margin-left: 3rem;
margin-right: 3rem;
margin-top: 3rem;
font-weight: normal;
font-size: 2.1rem;
line-height: 130.9%;
color: #474852;
}

.perdiv2{
display: flex;
flex-direction: row;
align-items: center;
}

.recdiv{
display: flex;
flex-direction: column;
margin-top: 6.3rem;
}

.rec5{
width: 29.5rem;
height: 18.6rem;

background: #FFFFFF;
border: 0.1rem solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.25);
border-radius: 2.5rem;
}

.rec51{
width: 29.5rem;
height: 7.5rem;
margin-top: -18.6rem;
border-radius: 2.5rem 2.5rem 0px 0px;
}

.perspan{
width: 25.4rem;
height: 6.9rem;
margin-top: 9.9rem;
display: inline-block;

font-weight: normal;
font-size: 1.5rem;
line-height: 155%;
text-align: center;
color: #474852;
}

.perspan2{
display: inline-block;
margin-top:1.5rem;

font-weight: bolder;
font-size: 3.5rem;
line-height: 130.9%;
color: #FFFEFE;
}

#green, #green2, #lblue, #lblue2, #pink, #pink2{
margin-left: 4.5rem;
}

#g, #lb{
margin-top: 10.8rem;
}

#p{
margin-top: 12rem;
}

#blue2{
background: #012169;
}

#green2{
background: #008241;
}

#lblue2{
background: #0063B3;
}

#pink2{
background: #FF1B47;
}

@media (max-width: 800px){
.perdiv2{
flex-wrap: wrap;
justify-content: center;  
justify-content: space-evenly;
}
.recdiv{
flex-basis: 34%;
}
#blue, #blue2{
margin-left: 4.5rem;
}
#lblue,  #pink{
margin-top: 10rem;
}
}

@media (max-width: 500px){
.perdiv2{
flex-wrap: wrap;
justify-content: center;  
justify-content: space-evenly;
}
.recdiv{
flex-basis: 34%;
}
.perspan{
margin-top: 8.5rem;
font-size: 1.8rem;
}
.perspan2{
margin-top: 2rem;
}
#green, #green2, #pink, #pink2{
margin-right: 4rem;
}
#g, #p{
margin-top: 10.3rem;
}
#lb{
margin-top: 9.2rem;
}}

@media (max-width: 361px){
.rec5{
width: 27.5rem;
height: 17rem;
}
.rec51{
width: 27.5rem;
height: 7rem;
}
.perspan{
margin-top: 7rem;
}
.perspan2{
margin-top: 1.5rem;
}
#g, #p{
margin-top: 8.7rem;
}
#lb{
margin-top: 7rem;
} 

}