.formatsdiv{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

#span12{
width: 39.8rem;
height: 4.2rem;
margin-top: 13rem;

font-weight: bold;
font-size: 3.2rem;
line-height: 130.9%;
color: #474852;
}

#span13{
margin-left: 3rem;
margin-right: 3rem;
margin-top: 3rem;

font-weight: normal;
font-size: 2.1rem;
line-height: 130.9%;
color: #474852;
}

.formatbtns{
margin-left: 10.5rem;
margin-right: 4rem;
margin-top: 2.7rem;
display: flex;
flex-wrap: wrap;
}

.format{
margin-left: 2rem;
margin-right: 2rem;
margin-top: 3.8rem;
width: 12.9rem;
height: 5.8rem;
border: 0.1rem solid #363742;
box-sizing: border-box;
border-radius: 2.5rem;
background: white;

font-weight: bolder;
font-size: 2.5rem;
line-height: 130.9%;
color: #363742;
}

#max{
width: 17.9rem;
height: 5.8rem;
}

#final{
width: 16.9rem;
height: 5.8rem;
} 

#pre{
width: 17.7rem;
height: 5.8rem;
}

.export{
width: 18.1rem;
height: 6.4rem;
margin-top: 6.8rem;

background: #FFE0E2;
border-radius: 3rem;
border-style: none;

font-weight: 600;
font-size: 2.4rem;
line-height: 2.9rem;
color: #FF1B47;
}


@media (min-width: 700px){
.formatbtns{
margin-left: 11rem;
margin-right: 7rem;
}}

@media (min-width: 1000px){
.formatbtns{
margin-left: 14.5rem;
}}

@media (max-width: 450px){
.formatbtns{
margin-left: 6rem;
}
.format{
margin-left: 1rem;
margin-right: 1rem;
}}

@media (max-width: 350px){
#final{
height: 6rem;
}}