#rect{
position: absolute;
width: 144.4rem;
height: 87.2rem;
left: 4rem;
top: 455.9rem;
}

#span81{
position: absolute;
width: 14.7rem;
height: 4.2rem;
left: 68.6rem;
top: 435.8rem;

font-weight: bolder;
font-size: 3.2rem;
line-height: 130.9%;

color: #363742;
}

/* rectangles */
.rec8{
position: absolute;
width: 37.3rem;
height: 32rem;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.1);
border-radius: 1.5rem;
}

.rec8blue{
position: absolute;
width: 6.6rem;
height: 6.6rem;
top: 3rem;
left:3.3rem;

background: #CFDAFF;
border-radius: 1.5rem;
}

.span82{
position: absolute;
font-weight: bolder;
font-size: 2.1rem;
line-height: 130.9%;
color: #363742;
}

.line{
width: 3.1rem;
height: 0.5rem;
margin-left: 3.5rem;
margin-top: 16.1rem;

background: #3E59E9;
}

.span83{
position: absolute;
font-weight: normal;
font-size: 1.9rem;
line-height: 155.4%;
width: 30.6rem;
height: 11.7rem;

color: #52535D;
}

#upload{
left: 14rem;
top: 447.1rem;
}

#icon1{
position: absolute;
width: 4.2rem;
height: 2.7rem;
left: 1.2rem;
top: 2rem;
}


#span821{
width: 22.6rem;
height: 2.7rem;
left: 3.3rem;
top: 12.3rem;
}

#span831{
left: 3.1rem;
top: 19.3rem;
}

#translation{
left: 57.1rem;
top: 447.1rem;
}

#icon2{
position: absolute;
width: 4.1rem;
height: 4.1rem;
left: 1.5rem;
top: 1.3rem;
}

#span822{
width: 22.4rem;
height: 2.7rem;
left: 3rem;
top: 11.9rem;
}

#span832{
left: 2.8rem;
top: 18.9rem;
}

#imports{
left: 100.3rem;
top: 447.1rem;
}

#icon3{
position: absolute;
width: 3.7rem;
height: 3.5rem;
left: 1.5rem;
top: 1.6rem;
}

#span823{
width: 31.5rem;
height: 2.7rem;
left: 3rem;
top: 11.9rem;
}

#span833{
left: 2.8rem;
top: 18.9rem;
}

#workspace{
left: 14rem;
top: 484.1rem;
}

#icon4{
position: absolute;
width: 3.7rem;
height: 4.1rem;
left: 1.4rem;
top: 1.3rem;
}

#span824{
width: 32.3rem;
height: 2.7rem;
left: 3.3rem;
top: 12.3rem;
}

#span834{
left: 3.1rem;
top: 19.3rem;
}

#api{
left: 57.1rem;
top: 484.1rem;
}

#icon5{
position: absolute;
width: 4.4rem;
height: 3.2rem;
left: 1.1rem;
top: 1.7rem;
}

#span825{
width: 21.2rem;
height: 2.7rem;
left: 3rem;
top: 11.9rem;
}

#span835{
left: 2.8rem;
top: 18.9rem;
}

#security{
left: 100.3rem;
top: 484.1rem;
}

#icon6{
position: absolute;
width: 3.9rem;
height: 4.4rem;
left: 1.4rem;
top: 1.1rem;
}

#span826{
width: 28.2rem;
height: 5.4rem;
left: 3rem;
top: 11.9rem;
}

#span836{
left: 2.8rem;
top: 18.9rem;
}
